.BODY{
  background: url("https://static-openask-com.s3.amazonaws.com/content/images/tests/large/377_test.jpg") fixed ; 
  background-size: cover;
  
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
